<p id="notice"><%= notice %></p>

<h1>Christmas Songs Statistics</h1>
<p>A little background... I put together this site as an experiment to see if what I suspect is true. Are there really only 20 Christmas songs but performed by various artists.</p>

<div class="container">
  <h2>Songs played by day</h2>
  <%= line_chart PlayedSong.group_by_day(:playtime).count %>
</div>
<div class="container">
  <h2>Songs Played Multiple Times</h2>
  <%= pie_chart PlayedSong.group(:title).having("count(*) > ?", 2).count %>
</div>

